---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}
.main-content {
	margin-left:0px
}
.main-content {
  a {
   color: #000000;
 }
}

body {
   color: #4a7815;
 }
.nav1 {
	width:1300px;
	height:60px;
	margin-left: -100px;
	color: #212140;
	font-size: 14px;
	border-radius: 0px;
	background-color: #12123b;
	border: thin solid #000000
}
.fir {
	padding: 10px 10px;
	margin-left: 50px;
	list-style-type: none;
	float: left;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}
.fir a {
	color: #787894;
	}
.first-active{
	padding: 10px 10px;
	margin-left: 50px;
	list-style-type: none;
	float: left;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}
.first-active a {
		color: #fff;
	}
.pr {
	padding: 10px 10px;
	list-style-type: none;
	float: left;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
	
}
.pr a {
	color: #787894;
	}

/* Style the active class, and buttons on mouse-over */
.active {
	padding: 10px 10px;
	list-style-type: none;
	float: left;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}
.active a {
		color: #fff;
	}

.page-header {
  color: #fff;
  text-align: left;
  background-color: #fff;
  background-image: url('IMG_20180821_223147.jpg');
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: 1300px 400px ;
    background-repeat: no-repeat;
    height: 400px;
    width: 1300px;
}
