---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}
body {
   color: #4a7815;
 }
.page-header {
  color: #ffea05;
  text-align: left;
  background-image:linear-gradient(120deg, #782715, #784515)
}

