---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}
.main-content {
  a {
   color: #000000;
 }
}
.main-content{
	margin-left:-200px;
}
body {
   color: #4a7815;
 }
.nav1 {
	width:190px;
	padding:8px;
	heigth:500px;
	float:left;
	margin-top: 5px;
	color: #ff00dd;
	font-size: 14px;
	border-radius: 0px;
	background-color: #ff00dd;
	border: thin solid #000000
}
.pr {
	list-style-type: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
	
}
.pr a {
	color: #fff000;
	}

/* Style the active class, and buttons on mouse-over */
.active {
	list-style-type: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
}
.active a {
		color: #ff0000;
	}

.page-header {
  color: #ffea05;
  text-align: left;
  background-color: #fff;
  background-image: url("ind.jpeg") ;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: 1000px ;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}
