---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}
body {
   color: #4a7815;
 }
.sidebarleft {
	width:190px;
	padding:8px;
	float:left;
	margin-top: 5px;
	color: #006;
	font-size: 14px;
	border-radius: 8px;
	background-color: #fdc6cb;
	border: #000000;
}
.page-header {
  color: #ffea05;
  text-align: left;
  background-color: #fff;
  background-image: url("ind.jpeg") ;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: 1000px ;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

