---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}
.main-content {
  a {
   color: #000000;
 }
}
body {
   color: #4a7815;
 }
#sidebarleft {
	width:190px;
	padding:8px;
	float:left;
	margin-top: 5px;
	color: #006;
	font-size: 14px;
	border-radius: 0px;
	background-color: #fcf226;
	border: thin solid #000000
}
#sidebarleft{
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}
.page-header {
  color: #ffea05;
  text-align: left;
  background-color: #fff;
  background-image: url("ind.jpeg") ;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: 1000px ;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}
#sidebarleft {
	a {
	text-align: center;
   	color: #1a1ef0;
	background-color: transparent;
	width: 180px;
 }
}
