---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}
body {
   color: #4a7815;
 }
.page-header {
  color: #157878;
  text-align: center;
  background-color: #781515;
}

