---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}
.main-content {
  a {
   color: #000000;
 }
}
.main-content{
	margin-left: -100px;
}

body {
   color: #4a7815;
 }
.nav1 {
	width:180px;
	 height:100%;
	margin-left: 5px;
	margin-right: 10px;
	color: #ff00dd;
	font-size: 14px;
	border-radius: 0px;
	background-color: #ff00dd;
	border: thin solid #000000
}
.pr {
	padding: 10px 10px;
	list-style-type: none;
	float: left;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
	
}
.pr a {
	color: #fff000;
	}

/* Style the active class, and buttons on mouse-over */
.active {
	padding: 10px 10px;
	list-style-type: none;
	float: left;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}
.active a {
		color: #ff0000;
	}

.page-header {
  color: #ffea05;
  text-align: left;
  background-color: #fff;
  background-image: url("ind.jpeg") ;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: 1000px ;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}
