---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #ff0000;
 }
}
.main-content {
	margin-left:0px
}
.main-content {
  a {
   color: #000000;
 }
}

body {
   color: #4a7815;
 }
.nav1 {
	width:2000px;
	height:60px;
	margin-left: -100px;
	margin-right: 10px;
	color: #cffffb;
	font-size: 14px;
	border-radius: 0px;
	background-color: #cffffb;
	border: thin solid #000000
}
.fir {
	padding: 10px 10px;
	margin-left: 50px;
	list-style-type: none;
	float: left;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}
.fir a {
	color: #fff000;
	}
.first-active{
	padding: 10px 10px;
	margin-left: 50px;
	list-style-type: none;
	float: left;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}
.first-active a {
		color: #ff0000;
	}
.pr {
	padding: 10px 10px;
	list-style-type: none;
	float: left;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
	
}
.pr a {
	color: #fff000;
	}

/* Style the active class, and buttons on mouse-over */
.active {
	padding: 10px 10px;
	list-style-type: none;
	float: left;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}
.active a {
		color: #ff0000;
	}

.page-header {
  color: #ffea05;
  text-align: left;
  background-color: #fff;
  background-image: url("ind.jpeg") ;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: 1000px ;
    background-repeat: no-repeat;
    height: 500px;
    width: 2000px;
}
